@{
    ViewData["Title"] = "Add/Edit Tags";
}
@model AttendanceDatabase.Models.Tags

<!DOCTYPE html>
<html>
<head>
</head>
<body class="RP_CreateForm">
    <h1 class="text-center">Enter Tag Information</h1>

    <form asp-action="AddTags" method="post">
        <input type="hidden" asp-for="Id" />
        <label id="tagName" name="tagName">Tag Name:</label>
        <input type="text" asp-for="Name" required />
        <br />
        <button type="submit" class="RP_Add">Add</button>
    </form>

</body>
</html>


