@{
    ViewData["Title"] = "Visual Report";
}

@model List<EventAttendanceRecord>

    <form>
        <button class="RP_backBtn" type="submit" asp-controller="Menus" asp-action="MainMenu">Home</button>
    </form>

@foreach (var c in Model)
{
    <p>@c.EventName </p>
}