@{
    ViewData["Title"] = "Data Entry Menu";
}

<h1>Data Entry Menu</h1>

<div>
    <button class="RP_indexBtns" onclick="location.href='@Url.Action("DailyEntry", "DataEntry")'">Daily Entry</button>
</div>
<div>
    <button class="RP_indexBtns" onclick="location.href='@Url.Action("EditCalendar", "EditCalendar")'">Edit Data</button>
</div>
