@model AttendanceDatabase.Models.Account

@{
    ViewData["Title"] = "Create";
}

<head>
</head>
<body class="RP_CreateForm">
    <h1 class="text-center">@(Model.Id == 0 ? "Create" : "Update") Account</h1>
        <form asp-controller="Account" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <label asp-for="Username" ></label>
                <input asp-for="Username" required />
                <span asp-validation-for="Username"></span>
            
            
                <label asp-for="Password"></label>
                <input asp-for="Password" required type="password" />
                <span asp-validation-for="Password"></span>
            
            
                <label asp-for="FirstName" >First Name</label>
                <input asp-for="FirstName" required  />
                <span asp-validation-for="FirstName"></span>
            
            
                <label asp-for="role" >Role</label>
                
                <select asp-for="role" required > <option value="Admin">Admin</option> <option value="Staff">Staff</option> </select>
                
               
            
                <br/>
                <button type="submit" class="RP_Add">@(Model.Id == 0 ? "Create" : "Update")</button>
            
        </form>
    

</body>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}